.description-update {
    display: flex;
    margin-top: 5vw;
}

.description-update img{
    width: 20vw;
    margin-left: 8vw;
}

.descriptionUp {
    margin-top: 6vw;
    width: 40vw;
}

.descriptionUp h1 {
    font-size: 1.5vw;
}

.descriptionUp p {
    font-size: 1.2vw;
    margin-top: 1vw;
}

#value {
    font-family: "Montserrat", sans-serif;
    color: #5A28D9;
}