.favorites h1{
    margin-top: 8vw;
    font-family: "Montserrat", sans-serif;
    margin-left: 7vw;
    font-size: 2vw;
}

.cards-favorites {
    display: flex;
    margin-top: 5vw;
}


.card-favorite1 {
    width: 16vw;
    height: 23vw;
    border: 0.15vw solid #111111;
    border-radius: 0.5vw;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.card-favorite1 img{
    width: 13vw;
    margin-left: 1vw;
}

.description-favorite h3{
    font-family: "Montserrat", sans-serif;
    font-size: 1.3vw;
    margin-left: 2vw;
}

.description-favorite p{
    font-family: "Montserrat", sans-serif;
    color: #5A28D9;
    font-size: 1vw;
    margin-left: 2vw;
}

.button-favorite{
    display: flex;
    margin-top: 1.5vw;
}

.button-favorite button {
    background-color: #cfc2ec;
    border-radius: 0.5vw;
    padding: 0.5vw 3vw;
    cursor: pointer;
    border: 0.104vw solid;
    border-color: #5A28D9;
    color: #5A28D9;
    font-size: 0.8vw;
    margin-left: 2vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.button-favorite button:hover {

    transform: scale(1.1);
}

.button-favorite img{
    width: 2.5vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-favorite img:hover {

    transform: scale(1.1);
}

#favorite1, #favorite2, #favorite3{
    margin-left: 7vw;
}
