.first-section img{
    width: 100%;
}

.first-section {
    position: relative; /* Define um contexto de posicionamento para os elementos filhos */
}

.first-section img {
    display: block; /* Certifique-se de que as imagens sejam exibidas como bloco */
}

#logoWhite {
    width: 15vw;
}

#logoWhite {
    position: absolute; /* Posiciona a imagem em relação ao .first-section */
    top: 40%; /* Ajuste conforme necessário */
    left: 50%; /* Ajuste conforme necessário */
    transform: translate(-50%, -50%); /* Centraliza a imagem */
    z-index: 10; /* Valor maior para    estar em ci ma da outra imagem */
}

.first-section p{
    position: absolute;
    top: 60%; /* Ajuste conforme necessário */
    left: 50%; /* Ajuste conforme necessário */
    transform: translate(-50%, -50%); /* Centraliza a imagem */
    z-index: 10; /* Valor maior para estar em cima da outra imagem */
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    text-align: center;
}

.second-section {
  display: flex;  
}

.offer {
    width: 100%;
    margin: 0 auto;
}

.offer h1{
    margin-top: 10vw;
    font-family: "Montserrat", sans-serif;
    margin-left: 7vw;
    font-size: 2vw;
}

.line-home {
    width: 6.2vw;
    border-bottom: 0.25vw solid #111111;
    border-radius: 0.078125vw;
    margin-top: 0.4vw;
    margin-bottom: 3vw;
}

.cards-products {
    display: flex;
}

.card-product1 {
    width: 16vw;
    height: 23vw;
    border: 0.15vw solid #111111;
    border-radius: 0.5vw;
    margin-left: 7vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.card-product1 img{
    width: 13vw;
    margin-left: 1vw;
}

.description-products h3{
    font-family: "Montserrat", sans-serif;
    font-size: 1.3vw;
    margin-left: 2vw;
}

.description-products p{
    font-family: "Montserrat", sans-serif;
    color: #5A28D9;
    font-size: 1vw;
    margin-left: 2vw;
}

.button{
    display: flex;
    margin-top: 1.5vw;
}

.button button {
    background-color: #cfc2ec;
    border-radius: 0.5vw;
    padding: 0.5vw 3vw;
    cursor: pointer;
    border: 0.104vw solid;
    border-color: #5A28D9;
    color: #5A28D9;
    font-size: 0.8vw;
    margin-left: 2vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.button button:hover {

    transform: scale(1.1);
}

.button img{
    width: 2.5vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button img:hover {

    transform: scale(1.1);
}

#card2, #card3, #card4, #card5, #card6, #card7{
    margin-left: 4.5vw;
}

.third-section {
    display: flex;  
    height: 40vw;
}

.fourth-section {  
    height: auto;
}

.preguntasFrecuentes h1{
    margin-top: 10vw;
    font-family: "Montserrat", sans-serif;
    margin-left: 7vw;
    font-size: 2vw;
}

.questions{
    display: flex;
    width: 85vw;
    height: 3.2vw;
    background-color: #c6fae0 ;
    margin-left: 10vw;
    border: 0.2vw solid #0A7A42;
    border-radius: 0.5vw;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: add some shadow */
}

.questions{
    margin-left: 7vw;
}

.questions p {
    font-family: "Montserrat", sans-serif;
    margin-top: 1vw;
    margin-left: 1vw;
    font-size: 1.3vw;
    color: #0A7A42;
}

.questions img{
    margin-top: 0.5vw;
    width: 2.5vw;
    margin-left: auto;
    margin-right: 0.5vw;
}

.questions {
    margin-bottom: 5vw;
}

.faq-questionH {
    display: flex;
    overflow: hidden;
    transition: max-height 0.85s ease
}

.faq-questionH {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 2vw;
    font-size: 1.2vw;
}

.faq-itemH {
    margin-bottom: 3vw;
}

.arrow  {
    display: flex;
}

.arrow img{
    transition: transform 0.3s ease;
    rotate: 180deg;
    margin-left: 10vw;
}

.rotate img {
    transform: rotate(180deg);
}

.faq-itemH{
    display: flex;
    flex-direction: column;
}

.faq-questionH {
    display: flex;
    width: 85vw;
    height: 4.2vw;
    background-color: #c6fae0 ;
    margin-left: 0vw;
    border: 0.2vw solid #0A7A42;
    border-radius: 0.5vw;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: add some shadow */
}

.faq-answerH.show {
    max-height: 2vw; /* Ajuste conforme necessário */
    width: 80%;
    display: block;
}

.faq-answerH {
    display: none; /* A resposta começa oculta */
    transition: all 0.3s ease; /* Animação suave ao aparecer */
}

.faq-itemH{
    margin-left: 7vw;
}

.faq-itemH p {
    font-family: "Montserrat", sans-serif;
    margin-top: 1vw;
    margin-left: 1vw;
    font-size: 1.3vw;
    color: #0A7A42;
}

.faq-itemH img{
    margin-top: 0.5vw;
    width: 2.5vw;
}

.faq-itemH {
    margin-bottom: 5vw;
}

.fifth-section{
    height: auto;
}

.ourBrands h1{
    font-family: "Montserrat", sans-serif;
    margin-left: 7vw;
    font-size: 2vw;
}

.carrossel-home {
    height: 16.276041666666668vw;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.fornecedores {
    display: flex;
    width: calc(36.807291666666664vw * 16);
    animation: scroll 10s linear infinite;
}

.samsung {
    margin-right: 6.510416666666667vw;
    background-color: white;
    border-radius: 0.5vw;
}

.fornecedores:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-14.276041666666668vw * 5));
    }
}

.samsung {
    border: 0.1vw solid white;
    height: 13.020833333333334vw;
    width: 16.276041666666668vw;
    display: flex;
    align-items: center;
    padding: 0.6510416666666666vw 0 0 1.6276041666666667vw;
    perspective: 6.510416666666667vw;
}

.samsung {
    transition: 0.5s;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.samsung:hover{
    transform: scale(1.1);
}

#centelsa {
    width: 20vw;
}

#legrand {
    width: 20vw;
}

#miguelez {
    width: 20vw;
}

#schneider {
    width: 20vw;
}

#opalux {
    width: 15vw;
}

#abb {
    width: 20vw;
}

#philips {
    width: 20vw;
}

.description h3 {
    font-size: 1vw;
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    .description h3 {
        font-size: 1.8vw;
        margin: 0;
    }

    .description {
        background-color: #c6fae0;
        margin-top: 5vw;
        height: 4.5vw;
    }
}