section.first-section {
    width: 100%;
    margin: auto;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img {
    width: 100%;
    height: 33.6vw;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex; /* Ativa o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.nav-manual .manual-btn, .nav-auto div {
    display: inline-block;
    width: 1.2978585334198571vw; /* Define o tamanho do círculo */
    height: 1.2978585334198571vw;
    border: 0.1vw solid #5A28D9;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #5a28d951;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 1.2978585334198571vw;
}

.nav-manual .manual-btn:hover {
    background-color: #5A28D9;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: #5A28D9;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #5A28D9;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #5A28D9;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

.second-section {
  display: flex;  
}

.offer {
    width: 100%;
    margin: 0 auto;
}

.offer h1{
    margin-top: 10vw;
    font-family: "Montserrat", sans-serif;
    margin-left: 7vw;
    font-size: 2vw;
}

.line-home {
    width: 6.2vw;
    border-bottom: 0.25vw solid #111111;
    border-radius: 0.078125vw;
    margin-top: 0.4vw;
    margin-bottom: 3vw;
}

.cards-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Exibe quatro colunas por padrão */
    justify-items: stretch;
}

.card-product1 {
    width: 16vw;
    height: 23vw;
    border: 0.15vw solid #111111;
    border-radius: 0.5vw;
    margin-left: 7vw;
    margin-right: 3vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.card-product1 img{
    width: 13vw;
    margin-left: 1vw;
}

.description-products h3{
    font-family: "Montserrat", sans-serif;
    font-size: 1.3vw;
    margin-left: 2vw;
}

.description-products p{
    font-family: "Montserrat", sans-serif;
    color: #5A28D9;
    font-size: 1vw;
    margin-left: 2vw;
}

.button{
    display: flex;
    margin-top: 1.5vw;
}

.button button {
    background-color: #cfc2ec;
    border-radius: 0.5vw;
    padding: 0.5vw 3vw;
    cursor: pointer;
    border: 0.104vw solid;
    border-color: #5A28D9;
    color: #5A28D9;
    font-size: 0.8vw;
    margin-left: 2vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.button button:hover {

    transform: scale(1.1);
}

.button img{
    width: 2.5vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button img:hover {

    transform: scale(1.1);
}

#card2, #card3, #card4, #card5, #card6, #card7{
    margin-left: 4.5vw;
}

.third-section {
    display: flex;  
    height: 40vw;
}

.fourth-section {  
    height: auto;
}

.preguntasFrecuentes h1{
    margin-top: 10vw;
    font-family: "Montserrat", sans-serif;
    margin-left: 7vw;
    font-size: 2vw;
}

.questions{
    display: flex;
    width: 85vw;
    height: 3.2vw;
    background-color: #c6fae0 ;
    margin-left: 10vw;
    border: 0.2vw solid #0A7A42;
    border-radius: 0.5vw;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: add some shadow */
}

.questions{
    margin-left: 7vw;
}

.questions p {
    font-family: "Montserrat", sans-serif;
    margin-top: 1vw;
    margin-left: 1vw;
    font-size: 1.3vw;
    color: #0A7A42;
}

.questions img{
    margin-top: 0.5vw;
    width: 2.5vw;
    margin-left: auto;
    margin-right: 0.5vw;
}

.questions {
    margin-bottom: 5vw;
}

.faq-questionH {
    display: flex;
    overflow: hidden;
    transition: max-height 0.85s ease
}

.faq-questionH {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 2vw;
    font-size: 1.2vw;
}

.faq-itemH {
    margin-bottom: 3vw;
}

.arrow  {
    display: flex;
}

.arrow img{
    transition: transform 0.3s ease;
    rotate: 180deg;
    margin-left: 10vw;
}

.rotate img {
    transform: rotate(180deg);
}

.faq-itemH{
    display: flex;
    flex-direction: column;
}

.faq-questionH {
    display: flex;
    width: 85vw;
    height: 4.2vw;
    background-color: #c6fae0 ;
    margin-left: 0vw;
    border: 0.2vw solid #0A7A42;
    border-radius: 0.5vw;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: add some shadow */
}

.faq-answerH.show {
    max-height: 2vw; /* Ajuste conforme necessário */
    width: 80%;
    display: block;
}

.faq-answerH {
    display: none; /* A resposta começa oculta */
    transition: all 0.3s ease; /* Animação suave ao aparecer */
}

.faq-itemH{
    margin-left: 7vw;
}

.faq-itemH p {
    font-family: "Montserrat", sans-serif;
    margin-top: 1vw;
    margin-left: 1vw;
    font-size: 1.3vw;
    color: #0A7A42;
}

.faq-itemH img{
    margin-top: 0.5vw;
    width: 2.5vw;
}

.faq-itemH {
    margin-bottom: 5vw;
}

.fifth-section{
    height: auto;
}

.ourBrands h1{
    font-family: "Montserrat", sans-serif;
    margin-left: 7vw;
    font-size: 2vw;
}

.carrossel-home {
    height: 16.276041666666668vw;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.fornecedores {
    display: flex;
    width: calc(36.807291666666664vw * 16);
    animation: scroll 10s linear infinite;
}

.samsung {
    margin-right: 6.510416666666667vw;
    background-color: white;
    border-radius: 0.5vw;
}

.fornecedores:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-14.276041666666668vw * 5));
    }
}

.samsung {
    border: 0.1vw solid white;
    height: 13.020833333333334vw;
    width: 16.276041666666668vw;
    display: flex;
    align-items: center;
    padding: 0.6510416666666666vw 0 0 1.6276041666666667vw;
    perspective: 6.510416666666667vw;
}

.samsung {
    transition: 0.5s;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.samsung:hover{
    transform: scale(1.1);
}

#centelsa {
    width: 20vw;
}

#legrand {
    width: 20vw;
}

#miguelez {
    width: 20vw;
}

#schneider {
    width: 20vw;
}

#opalux {
    width: 15vw;
}

#abb {
    width: 20vw;
}

#philips {
    width: 20vw;
}

.description h3 {
    font-size: 1vw;
    margin: 0;
}

.second-section-mobile {
    display: none !important;
}

@media only screen and (max-width: 800px) {
    .second-section-mobile {
        display: none !important;
    }
    
    .description h3 {
        font-size: 1.8vw;
        margin: 0;
    }

    .description {
        background-color: #c6fae0;
        margin-top: 5vw;
        height: 4.5vw;
    }

    .menu li {
        display: inline-block;
        font-size: 2vw;
        padding-right: 5vw;
        margin-top: 2vw;
        color: white;
        font-family: "Montserrat", sans-serif;
    }

    .menu {
        height: 7vw;
    }
    
    .carrossel {
        width: 100%;

    }
    
    #img-caroussel img{
        width: 100%;
    }

    #logoWhite {
        width: 24vw;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    #img-caroussel {
        height: 30vh; /* Altura desejada */
        width: 100%; /* Largura máxima da tela */
        max-width: 100vw; /* Limita a largura ao viewport */
        object-fit: cover; /* Ajusta a imagem dentro do contêiner sem distorção */
    }

    .first-section p {
        width: 70%;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 2.5vw;
        text-align: center;
    }
    
    .offer h1 {
        margin-top: 10vw;
        font-family: "Montserrat", sans-serif;
        margin-left: 45vw;
        font-size: 3vw;
    }

    #p-productos {
        margin-left: 33vw;
    }

    #line {
        margin-left: 10vw;
    }

    .line-home {
        margin-left: -2vw;
        width: 13vw;
        border-bottom: 0.35vw solid #111111;
        border-radius: 0.078125vw;
        margin-top: 1vw;
        margin-bottom: 3vw;
    }

    .card-product1 {
        width: 26vw;
        height: 33vw;
        border: 0.15vw solid #111111;
        border-radius: 1vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        margin-bottom: 5vw;
    }
    
    .card-product1 img {
        width: 20vw;
        margin-left: 3vw;
    }

    .description-products h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 2vw;
        margin-left: 2vw;
    }

    .description-products p {
        font-family: "Montserrat", sans-serif;
        color: #5A28D9;
        margin-top: 1vw;
        font-size: 1.8vw;
        margin-left: 2vw;
        margin-bottom: 2vw;
    }

    .button button {
        background-color: #cfc2ec;
        border-radius: 0.5vw;
        padding: 0.8vw 4vw;
        cursor: pointer;
        border: 0.104vw solid;
        border-color: #5A28D9;
        color: #5A28D9;
        font-size: 1.8vw;
        margin-left: 2vw;
        transition: transform 0.3s ease, box-shadow 0.3s ease;


    }

    .button img {
        width: 4.7vw;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin-left: 1vw;
        margin-right: 3vw;
    }

    .cards-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Duas colunas */
        justify-items: end;
        margin: 0 auto;
        margin-right: 10.5vw;
        margin-top: 5vw;
    }

    .preguntasFrecuentes h1 {
        margin-top: 60vw;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 3vw;
    }

    #lineF {
        margin-left: 38vw;
        margin-bottom: 5vw;
    }

    .faq-questionH {
        display: flex;
        width: 85vw;
        height: 6vw;
        background-color: #c6fae0;
        margin-left: 0vw;
        margin-top: 0.5vw;
        border: 0.2vw solid #0A7A42;
        border-radius: 0.5vw;
        border-top: none;
        border-left: none;
        border-right: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        font-size: 1.8vw;
    }

    .faq-itemH p {
        font-family: "Montserrat", sans-serif;
        margin-top: 1vw;
        margin-top: 1vw;
        margin-left: 1vw;
        font-size: 1.6vw;
        color: #0A7A42;
    }

    .ourBrands h1 {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 3vw;
    }

    
}

@media only screen and (max-width: 500px) {
    .third-section {
        display: none !important;
    }

    .second-section {
        display: none !important;
    }

    .second-section-mobile {
        display: flex !important;
    }

    .offer h1 {
        margin-top: 10vw;
        font-family: "Montserrat", sans-serif;
        font-size: 4.5vw;
    }    

    #p-productos {
        margin-left: 20vw;
    }

    .cards-products-mobile {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .second-section-mobile {
        cursor: grab;
        overflow: hidden;
    }

    #line {
        margin-left: 21vw;
        margin-bottom: 5vw;
    }

    #card2 {
        width: 36vw;
    }

    .card-products {
        width: 50vw;
        height: 70vw;
        border: 0.4vw solid #111111;
        border-radius: 2vw;
        margin-left: 7vw;
        margin-right: 3vw;
    }
    
    .card-products img{
        width: 45vw;
        margin-left: 2vw;
    }

    .button img {
        width: 10vw;
    }

    .description-products h3 {
        font-size: 4vw;
    }

    .description-products p {
        font-size: 3.5vw;
    }

    .button {
        margin-top: 3vw;
    }

    .button button {
        border-radius: 1vw;
        padding: 1.6vw 5vw;
        cursor: pointer;
        border: 0.104vw solid;
        border-color: #5A28D9;
        color: #5A28D9;
        font-size: 4vw;
        margin-left: 2vw;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .preguntasFrecuentes h1 {
        margin-top: 10vw;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 3vw;
    }

    .line-oferta {
        margin-right: 5vw;
    }
    
    .preguntasFrecuentes h1 {
        margin-top: 10vw;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 4.5vw;
    }

    .fourth-section {
        display: none !important;
    }

    .ourBrands h1 {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        font-size: 4.5vw;
        margin-top: 10vw;
    }

    .first-section {
        display: none !important;
    }
}