.login {
    width: 100%;
    height: auto;
}

.createAccount h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5vw;
    color: #0A7A42;
    margin-top: 5vw;
    font-weight: 700;
}

.account {
    display: block;
    margin-top: 5vw;
    margin-left: 13vw;
}

.account input {
    width: 18vw;
    height: 3.5vw;
    margin-left: 3vw;
    border: 0.105vw solid;
    border-left: 0.3vw solid;
    border-color: #5a28d9bc;
    border-radius: 0.3vw;
    font-size: 0.8vw;
    outline: none;
    padding-left: 2vw;
}

.low {
    margin-top: 3vw;
    display: flex;
    margin-left: 10.5vw;
}

.account ::placeholder {
    font-size: 1vw;
    color: #5A28D9;
}

.button-accout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-accout button {
    margin-top: 5vw;
    background-color: #5a28d93e;
    border: 0.15vw solid #5a28d9;
    width: 30vw;
    height: 4vw;
    font-size: 1.2vw;
    color: #5A28D9;
    border-radius: 0.4vw;
    font-weight: 500;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
    margin-bottom: 2vw;
}

.button-accout button:hover {

    transform: scale(1.1);
}

.createAccount p {
    text-align: center;
    font-size: 1vw;
    color: #0A7A42;
}

.bold {
    font-weight: 600;
    cursor: pointer;
}

#link {
    text-decoration: none;
}
