header>.center{
    display: flex;
    width: 100%;
}

.check {
    color: #5A28D9 !important;
    font-weight: 600;
}

.logo img{
    margin-top: 1vw;
    width: 15vw;
    margin-left: 5vw;
}

/* estilizando a barra de pesquisa */
.barResearch{
    display: flex;
    align-items: center;
    border: 0.10416666666666667vw solid green;
    width: 20.833333333333332vw;
    margin: 1.0416666666666667vw auto;
    border-radius:  0.5208333333333334vw;
    padding:  0.5208333333333334vw  0.5208333333333334vw;
    background-color: #c6fae0;
    max-height: 1.3020833333333333vw;
    font-family: "Montserrat", sans-serif;
}

.lupa img{
    width: 1.3vw;
}

#searchInput {
    font-size: 0.8vw;
}

#searchInput{
    padding: 0.4166666666666667vw;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.barResearch label{
    height: 1.0416666666666667vw;
}

/* termindo de estilizando a barra de pesquisa  /*/

.menu-desktop {
    display: flex;
    margin-top: 2.5vw;
    margin-left: 35vw;
}

.icons {
    margin-top: 1vw;
    margin-left: 2vw;
}

.icons img {
    width: 2.5vw;
    padding-right: 2vw; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icons img:hover{
    transform: scale(1.1);
}

.description{
    background-color: #c6fae0;
    margin-top: 5vw;
    height: 3vw;
}

.description h3{
    text-align: center;
    color: #0A7A42;
    font-size: 1vw;
    font-weight: 600;
    transform: translateY(1vw);
    font-family: "Montserrat", sans-serif;
}

.menu{
    text-align: center;
    width: 100%;
    background-color: #5A28D933;
    height: 5vw;
}

.menu a {
    display: flex;
    text-decoration: none;
    position: relative;
}

.menu li {
    /* Configurando a lista */
    display: inline-block;
    /*  deixando o menu em linha*/
    font-size: 1vw;
    padding-right: 4vw;
    margin-top: 2vw; 
    color: white;
    font-family: "Montserrat", sans-serif;
}

.description {
    margin-bottom: 0;
}

.description h3 {
    margin: 0;
}

.menu {
    margin-top: 0;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.DropDrownProfile {
    position: absolute;
    top: 20vw;
    left: 24vw;
    width: 10vw;
    background-color: #5A28D933;
    height: auto;
    border: 0.1vw solid gray;
    border-radius: 0.5vw;
}

.DropDrownProfile::before {
    content: "";
    position: absolute;
    top: -0.7rem;
    right: 10.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #5A28D933;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

.DropDrownProfile li {
    color: black;
    margin-left: 1vw;
    margin-top: 1vw;
    cursor: pointer;
}

.DropDrownProfile li:hover {
    font-size: 1.2vw;
}

@media only screen and (max-width: 1000px) {

    .lupa img {
        width: 1.3vw;
        margin-bottom: 1vw;
    }

}

@media only screen and (max-width: 800px) {
    .logo img {
        margin-top: 4vw;
        width: 22vw;
        margin-left: 8vw;
    }

    .lupa img {
        width: 2vw;
        margin-top: -0.2vw;
        margin-right: 1vw;
    }

    .menu-desktop {
        display: flex;
        margin-top: 2.5vw;
        margin-left: 12vw;
    }

    .barResearch {
        display: flex;
        align-items: center;
        border: 0.10416666666666667vw solid green;
        width: 25vw;
        margin: 3vw auto;
        border-radius: 1.5vw;
        padding: 2vw 2vw;
        background-color: #c6fae0;
        max-height: 1.3020833333333333vw;
        font-family: "Montserrat", sans-serif;
    }

    #searchInput {
        font-size: 1.8vw;
    }

    .icons {
        margin-top: 3vw;
        margin-left: 3vw;
    }

    .icons img {
        width: 5vw;
        padding-right: 2vw;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}

